/* Import common styles if required */
// @import 'common.scss';

/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eafbff;
  color: #333;
}

.container {
  margin-bottom: 10px;
  padding: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.center-align {
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 1px;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Make the row take 100% of the container width */
}
.row .column {
  flex: 1;
  padding: 5px;
}

.column {
  flex: 1;
  padding: 5px;
}

.button {
  margin-left: 5px;
  cursor: pointer;
  font-size: 30px; /* Adjust the value as needed for the desired size */
}

/* Centered Content */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Content */
#main-content {
  margin: 3%;
}

// #no-login {
//   display: block;
// }
.hidden {
  display: none;
}

#main-content .hidden {
  display: none;
}

/* Experience Section */
#experienceContainer {
  margin-bottom: 20px;
}

#skills-list {
  list-style-type: none;
  padding: 0;
}

/* Apply Button Section */
#filter-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Note Section */
.note {
  font-size: 14px;
  color: #777;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Each child section will take 50% of the screen width */
.flex-container > .container {
  width: 50%;
  box-sizing: border-box; /* Include padding in the width calculation */
  padding: 2rem; /* Optional: Add some padding to each section */
  margin-right: 3rem;
  margin-left: 3rem;
}

.row input[type='text'],
.row input[type='number'] {
  width: 75%;
}

.button2 {
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 20%;
  background: #0094a8;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-color: transparent;
}
.button2:hover {
  background: #7edefc;
}
.button2:disabled {
  background-color: gray;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h3 {
    width: 100%; // to move everything else downward
  }
  label {
    margin-right: 20px;
    cursor: pointer;
  }
  input {
    cursor: pointer;
  }
}

.filter-wrapper .radio-group {
  display: flex;
}

#main-logo {
  position: absolute;
  right: 0;
  margin-right: 10%;
  padding: 3%;
}

.btn-secondary {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-secondary:hover {
  background-color: #fff;
}

#apply-btn {
  margin-top: 25px;
}

// .btn-secondary {
//   margin: 2%;
//   padding: 0.5% 2%;
//   background: #fefefe;
//   border: 1px solid grey;
// }
// .btn-secondary:hover {
//   margin: 2%;
//   padding: 0.5% 2%;
//   background: #fefefe;
//   border: 1px solid grey;
// }
